[2018-10-08 14:07] TianLangStudio opened #1 "No such file or directory error"
execute jql without arguments    panic error    No such file or directory error

[2018-10-08 14:08] TianLangStudio commented on #1
`target/debug/jql`
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 2, kind: NotFound, message: "No such file or directory" }', libcore/result.rs:1009:5
stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp::unwind_backtrace
             at libstd/sys/unix/backtrace/tracing/gcc_s.rs:49
   1: std::sys_common::backtrace::print
             at libstd/sys_com

[2018-10-08 15:29] yamafaktory commented on #1
@TianLangStudio Thanks for the PR and good catch 👍. Somehow I was too quick at adding that file name... and OSX being case-insensitive is always a trap 😩.

[2018-10-08 15:32] #1 closed

[2018-11-02 23:35] zmanian opened #7 "JQL must be run from source code directory"
Because
https://github.com/yamafaktory/jql/blob/master/src/utils.rs#L8-L16 is run each time the binary is started if you trying and `jql` outside of the source code direction you get a `file not found` panic.

[2018-11-03 17:37] #7 closed

[2018-11-03 17:43] yamafaktory commented on #7
@zmanian Thanks for the report 👍! I've fixed it in the latest version https://crates.io/crates/jql/0.1.8.

[2018-12-05 03:31] leeychee opened #14 "Read json from stdin."
jql may support read json data from `stdin`, then we can use it in a pipeline.

It's really useful.

[code]

[2018-12-05 06:35] yamafaktory commented on #14
@leeychee Thanks a lot for the feedback 👍! I will implement that soon.

[2018-12-09 22:40] yamafaktory commented on #14
@leeychee I've fixed it in the latest released version https://crates.io/crates/jql/2.0.0. Feel free to open a new issue if this is not addressing your issue as expected 👍.

[2018-12-09 22:40] #14 closed

[2018-12-10 09:41] suhr opened #16 "Support TOML"
Json is nice, but what about other formats? For example, TOML.

[2018-12-11 17:51] LucioFranco opened #18 "Access children of an array without using an array index"
Hi I am trying to use `jql` to parse some elasticsearch query outputs but it seems its unable to fetch children of an array without an index.

Example:
[code]
The output from the curl looks like this:
[code]

`jql` will return the entire object in the array instead of just the `_source` field. Though when I use an index it seems to work:
[code]

Thanks, awesome library, hopefully I might have some

[2018-12-11 19:02] yamafaktory commented on #16
Thanks for the feedback @suhr !

`jql` primarily aims at processing the JSON format and heavily relies on Serde JSON. However, since https://github.com/alexcrichton/toml-rs should provide a similar surface API, this is something that can be envisioned. First, I'd like to see `jql` maturing...

[2018-12-11 19:31] yamafaktory commented on #18
Side note, you can also use something like `'"hits"."hits"|"_source"'`:

[code]

[2018-12-11 19:49] LucioFranco commented on #18
@yamafaktory thanks for the insight. Why not have it set `[]` as an alias for `[0:<length of array>]`?

For the side note, I tried that and it seems to just spit out the whole object instead of filtering.

`jql ".'hits'.'hits'|'_source'"`

[2018-12-11 19:55] yamafaktory commented on #18
Sounds like a really good approach! I'll go for that, thanks a ton 👍.

I guess your selector is not working as expected since the single/double quotes are reversed (`jql ".'hits'.'hits'|'_source'"` -> `jql '."hits"."hits"|"_source"'`)

[2018-12-11 19:56] LucioFranco commented on #18
Ah that worked! Thanks! Yeah, I would say that syntax is a bit unclear or maybe I didn't read the readme properly 😅

[2018-12-11 19:57] yamafaktory commented on #18
Cool, glad to hear it worked 👍.

[2018-12-12 21:21] #18 closed

[2019-02-06 02:45] lewisdiamond opened #26 "Allow streaming by line"
File a:
[code]
`< a jql '.'`
Currently says `Invalid JSON file or content`

It should take every line as a record and run the query (as with jq).

[2019-02-07 15:27] yamafaktory commented on #26
@lewisdiamond Thanks for your feedback, I'll have a look at it. Streaming like https://stedolan.github.io/jq/manual/#Streaming is also something I have in mind.

[2019-02-07 21:21] #26 closed

[2019-02-07 21:26] yamafaktory commented on #26
@lewisdiamond the latest version should address your issue https://crates.io/crates/jql/2.4.0.

[2019-09-26 11:54] ignatenkobrain opened #30 "Add LICENSE files"
It would be very useful since that there are tens of different variations of MIT licenses.

I would appreciate if you could publish new version after that.

[2019-10-18 13:20] yamafaktory commented on #30
Hi @ignatenkobrain,
Sorry I completely missed your comment...
Will fix that and keeps you updated!

[2019-10-19 20:20] #30 closed

[2019-10-19 20:51] yamafaktory commented on #30
@ignatenkobrain https://crates.io/crates/jql/2.4.6 has been published.

[2019-11-28 13:00] XOSplicer opened #32 "Panic when slicing empty array"
When attempting to slice an empty array, `jql` panics.

Given the input `{"data":[]}` and the query `"data".[]`, jql panics.
The desired output would be `[]`

Example:

[code]

Version:
[code]

Platform:
`stable-x86_64-pc-windows-msvc`

[2019-11-28 20:05] XOSplicer commented on #32
The panic seems to be caused by this calculation in the range selector:

https://github.com/yamafaktory/jql/blame/2a41ea37a1456f92c9c7a932d013828e3f69ffa2/src/range_selector.rs#L23

Replacing the calculation with `array.len().saturating_sub(1)` should solve the problem.

[2019-11-28 22:08] yamafaktory commented on #32
@XOSplicer thanks for the feedback! I've created a PR to address the issue. However, something weird is happening in the CI and I have to fix it first.

[2019-11-28 22:22] #32 closed

[2019-11-28 22:25] yamafaktory commented on #32
@XOSplicer v2.4.7 has been published 🚀, thanks for your time!

[2020-04-05 06:21] dym-sh opened #35 "ranges on top-level arrays are not handeled properly"
### data-input

(shortened from `https://api.github.com/orgs/tauri-apps/repos?per_page=100&type=sources`):

[code]

### example of the bug

[code]

[2020-04-07 12:42] yamafaktory commented on #35
@dym-sh thanks for the report, I'll have a look at it asap!

[2020-04-08 21:56] yamafaktory commented on #35
@dym-sh After some debugging I finally came up with a solution: this is a normal behavior.
Let me explain why: you're trying to use a range selector on an array which is totally fine indeed. However a range selector, no matter if it's bounded or not - e.g. `[0:1]`, `[:1]` or `[1:]` - will always return an array!

If think the confusion lies in the fact that in `jql '[0]."name"' org.json` you have

[2020-04-08 23:44] dym-sh commented on #35
hm.. i wanted to get a list of all `name` fields to pass down to git-mirroring script, and

[code]
and does not work either

[2020-04-09 07:46] yamafaktory commented on #35
@dym-sh Based on the structure you have provided, those selectors won't work.

Let me first explain why. You data is the following:
[code]
When applying `jql '[0][0:]."name"' org.json` what it does first with `[0]` is picking the index at position 0 of your top level array, so you get:

[code]
Then the next selector is `[0:]`, which is range selector. But that can't work since now we have an objec

[2020-04-09 07:46] #35 closed

[2020-04-09 08:42] dym-sh commented on #35
`.|"name"` did worked :smile:,

but this notation is the most confusing thing i saw since... [perl 9](https://urbit.org/docs/tutorials/hoon/hoon-syntax/)

feels counter-intuitive to all related technologies: shell, js (except `[0][0]`), and even css

[2020-04-09 08:58] yamafaktory commented on #35
Well... `jq` does more or less the exact same thing, see the pipe https://stedolan.github.io/jq/manual/#Basicfilters. I did not intend to make this tool and its selectors behaving the same as JavaScript, etc. There's already plenty of other bigger CLI tools doing that for you. Sorry if you find it confusing :man_shrugging: .

[2020-05-20 22:15] keyneom opened #39 "Support for filtering children"
I might just not know how to do this, but I'm interested in being able to query for top level properties without seeing their children, is this possible?

I'm attempting to query a large json file that has an unknown structure to me.

[2020-05-21 20:52] yamafaktory commented on #39
Hi @keyneom !

That's an interesting use case and the answer to your question is no, at the moment nothing has been implemented yet to support that.

Do you have an example of what you're trying to achieve?

[2020-05-21 21:11] keyneom commented on #39
Yeah, what I'm trying to do is explore a very large json file. When I query the root, by the time anything gets output is already blown past the number of lines in my terminal history and it's difficult to determine how nested each property is.

An example of what I'd like to be able to do is take an input like this:

[code]

And the desired output would be:
[code]
In particular it would be nice t

[2020-05-21 21:51] yamafaktory commented on #39
Ok, got it!

We'll need something new indeed. I can extend the grammar of the query parser to avoid walking down the JSON structure at a given level (can be the root level like in your example or at any desired level) and then return some truncated JSON selection.

I see a few challenging points here:
- Keep the feature simple (aim of this project / a counter example is something like `jq` which i

[2020-05-26 20:32] yamafaktory commented on #39
Hi @keyneom !

I've just released a new version of the tool and you can now use the truncate selector, as described here https://github.com/yamafaktory/jql/#truncate.

It should fix your issue :rocket:, thanks for making `jql` better :bow: !

[2020-05-26 20:32] #39 closed

[2020-05-26 21:59] keyneom commented on #39
Wow! You're awesome! I've been busy at work so I apologize about the slow response! I'll give it a try soon!

[2020-05-27 02:26] frol opened #41 "Arch Linux AUR package"
I created AUR package for Arch Linux: https://aur.archlinux.org/packages/jql/

The installation instructions for Arch Linux users:

[code]

**Describe the solution you'd like**

I suggest adding this (as installation instructions or just a mention of the link) to the README

[2020-05-27 05:30] yamafaktory commented on #41
Hi @frol !

This is just awesome, thanks a ton!

I'll do it ASAP! :bowing_man:

[2020-05-27 07:42] yamafaktory commented on #41
@frol Thanks a lot for your contribution! A new release has been created.

[2020-05-27 07:42] #41 closed

[2020-05-27 21:50] tacone opened #43 "State the performance"
I suggest you to state whether jql is fast or not, and if the throughput is one of the goals of the project. As simple as it sounds, it may drive adoption.

Publishing benchmarks result may also help.

Good luck!

[2020-05-28 09:40] dufferzafar commented on #43
And perhaps a comparison (performance & feature set) with jq? : https://github.com/stedolan/jq/

[2020-05-28 19:01] yamafaktory commented on #43
Thanks for the feedback!

At the moment, `jql` uses benchmarks internally as regression tests. You can see it in the Github Actions under the `bench` step, like here e.g. https://github.com/yamafaktory/jql/actions/runs/116121477.

I've never compared the performance against `jq` e.g. For sure, this is doable.

Regarding the feature set comparison, what would you expect? I don't have a deep knowled

[2020-06-01 21:09] yamafaktory commented on #43
A little update: I still don't know which feature(s) should have benchmarks or not and where to put that (maybe a link to another doc like BENCHMARKS.md). For example, `jql` uses `rayon` internally (https://github.com/rayon-rs/rayon/blob/master/FAQ.md) which makes it multi-threaded.

Given the following simple JSON nested arrays, let's say e.g. you want to flatten it (took the example from https:/

[2020-06-01 21:40] yamafaktory commented on #43
I'll probably have a look at https://github.com/sharkdp/hyperfine and use it whenever I'll some spare time.

[2020-06-04 07:35] mkpankov opened #44 "How does it compare to `jq`?"
Is it expected to be a drop-in replacement? Or just inspired by it? Any difference besides being implemented in Rust?

[2020-06-04 08:24] yamafaktory commented on #44
Hi @mkpankov!

The motivation behind this tool is neither to be a drop-in replacement nor something inspired by `jq`. `jq` API / features set is way beyond what `jql` tries to provide: a simple set of features that helps you dealing with JSON data. The grammar for the selectors is also quite different (it was slightly discussed here https://news.ycombinator.com/item?id=23316685).

Also `jql` is "p

[2020-06-04 09:04] mkpankov commented on #44
Ah, thanks. It's clear enough, I'm closing this issue.

[2020-06-04 09:04] #44 closed

[2020-06-11 02:04] pickfire commented on #44
But IMHO jql is takes more effort compared to jq on extracting stuff considering it needs to type so many double quotes.

[2020-06-27 22:05] yamafaktory commented on #43
Some basic comparison benchmarks are now available here https://github.com/yamafaktory/jql/blob/master/PERFORMANCE.md (triggered every night).

I'll try to add more of them.

Closing for now.

[2020-06-27 22:05] #43 closed

[2020-06-27 22:06] yamafaktory commented on #16
Closing since I don't think this tool will ever target TOML.

[2020-06-27 22:06] #16 closed

[2020-07-29 01:26] cuviper opened #49 "crates.io calls the license "non-standard""
FYI, using `license-file` without `license` leads to crates.io listing this crate as having a "non-standard" license, even though it's really just MIT. See also rust-lang/cargo#8537.

[2020-07-29 05:31] yamafaktory commented on #49
Hi and thanks for the info!
I'll fix it after my vacation🏖!

[2020-08-05 19:56] krupatil opened #50 "Add support for raw-output."
Is there any plan to add support for raw input and raw-output? That will be really helpful to use this for CLI usage.

Example for how `jq` provides this:
[code]

[2020-08-06 15:09] yamafaktory commented on #50
Hi @krupatil and thanks for the input!

Implementing a raw output flag seems pretty straightforward as Serde has a feature for that https://docs.serde.rs/serde_json/value/struct.RawValue.html. I'll have a look at it.

What do you mean by raw input? Isn't already covered by https://docs.serde.rs/serde_json/value/struct.RawValue.html?

[2020-08-06 20:29] #49 closed

[2020-08-06 20:38] yamafaktory commented on #49
A new version has been released https://crates.io/crates/jql/2.6.6.

Thanks again for the heads up!

[2020-08-07 14:26] #50 closed

[2020-08-07 14:30] yamafaktory commented on #50
@krupatil I've checked the `raw-output` flag from `jq` here https://stedolan.github.io/jq/manual/:

I've implemented the same flag/behavior in `jql` (`-r` or `--raw-output`): it will only drop JSON double-quotes on a string selection - the other primitives will work out of the box (and the output for complex objects will stay the same).

The documentation has been updated [here](https://github.com

[2020-08-11 08:22] danielakhterov opened #55 "Pipe JSON"
Hey, I'm wondering if piping JSON is a feature you're considering adding.

[2020-08-11 08:26] danielakhterov opened #56 "Remove quotations marks requirement for selectors"
Personally, I expect `jq 'message' text.json` to work, but I'm required to do `jq '"message"' text.json` instead which seems kinda pointless. Is this a potential feature/QoL improvement?

[2020-08-11 08:45] yamafaktory commented on #55
Do you mean something like https://github.com/yamafaktory/jql#how-to-read-from-stdin?

[2020-08-11 08:55] yamafaktory commented on #56
I guess you mean `jql` not `jq` which is another tool :)

The reason is that people tend to forget about special characters in JSON https://github.com/yamafaktory/jql#special-characters

`jq` doesn't work out-of-the-box for those corner cases and you need to use some wizardry, see https://github.com/stedolan/jq/issues/140. That's why `jql` does it like that, it always works, no matter what you inj

[2020-08-11 08:55] #56 closed

[2020-08-15 17:43] keblek opened #57 "An example of working with arrays in the docs?"
The readme for this project is quite good and I've been been very productive with it so far.

However, I'm having problems getting jql to print only the values. The closest I can get is screened below.

My question is, how does one start by selecting all the objects in an array then filtering out by keys, then displaying the children?

I haven't been able to figure it out from looking at the docs.

[2020-08-15 19:09] yamafaktory commented on #57
Hi @keblek.

What you're trying to achieve is currently not possible. The raw `-r` flag was recently introduced and only works with String primitives (it mimics what `jq` also does). There's no way for `jq` to know how to cast an Object like:

[code]
to
[code]
because why should it iterate over an object and return three lines of String? `jql` is meant to take JSON in and output JSON back (the `-r

[2020-08-16 10:04] keblek commented on #57
Thank you very much for replying. I have found a different way to get to where I wanted and have realised that my original way of doing things would have resulted in an overly complicated jql expression (even if it were supported - which its not). The last tip is helpful so this can be closed.

[2020-08-16 10:13] keblek commented on #57
If jql is only meant to input/output json, perhaps you can give a recommendation on how best to strip out the json brackets and keys to get the raw data.

grep or sed?

[2020-08-16 10:14] yamafaktory commented on #57
@keblek Did you reopen intentionally?

[2020-08-16 10:16] yamafaktory commented on #57
@keblek oh sorry, we both sent our messages at the same time.

What are you doing now - as a command ?

[2020-08-16 10:43] keblek commented on #57
Sorry for the confusion, I just had a small after thought. I don't mean to monopolise your time.

What I am trying to do is too complicated and is better done by doing multiple commands rather than one shell command, otherwise I am having to write a crazy regex expression. Again sorry about the confusion.

[2020-08-16 10:43] #57 closed

[2020-08-16 11:18] yamafaktory commented on #57
@keblek no worries! Feel free to open an issue if something doesn't work as expected.

[2020-08-20 18:31] krupatil commented on #50
Awesome! Thank you @yamafaktory for accepting the request.

[2020-08-20 18:41] yamafaktory commented on #50
@krupatil thanks for requesting it :bow: !

[2020-08-25 00:12] krupatil opened #58 "Filtering doesn't work when key is assigned to a variable name."
Can't get filtering work when key is assigned to a variable?

[code]

`jq` seems to be handling this very well.
[code]

I think, the input to the `jql` can be improved in similar way @yamafaktory.

[2020-08-25 00:22] krupatil commented on #58
Update: This seem to work.
[code]

[2020-08-25 00:29] krupatil opened #59 "jql always exit with return code 0"
`jql` always seems to be exit with error code 0 so there is no good way to catch the errors in scripts. Any suggestions?

[code]

[2020-08-25 08:27] yamafaktory commented on #59
@krupatil Good catch! I'll fix it.

[2020-08-25 08:34] yamafaktory commented on #58
@krupatil This is due to `jql` only accepting single quotes in the first place. You can see why here #56. As mentioned, I have no plan to change it as it will lead - in my opinion - to other bigger issues with parsing valid - but weird indeed! - JSON special characters.

If you don't mind, I'll close this issue. Fine for you?

[2020-08-25 19:01] #59 closed

[2020-08-25 19:10] yamafaktory commented on #59
@krupatil this has been fixed in the latest version!

Thanks for the feedback :bow: !

[2020-08-26 08:27] krupatil commented on #58
Thanks for the response @yamafaktory. Closing this issue.

[2020-08-26 08:27] #58 closed

[2020-08-28 14:38] HenkPoley commented on #56
Anyways, on your benchmark page, the last jql item is not equivalent to jq due to the quotes requirement: https://github.com/yamafaktory/jql/blob/master/PERFORMANCE.md

[2020-08-28 14:54] HenkPoley opened #62 "'sdf' postfix in error is intentional?"
Here: https://github.com/yamafaktory/jql/blob/8f4ac685f092aacbe6c9a6f101753bcdcb8244a4/src/bin.rs#L49-L50

[2020-08-28 14:56] yamafaktory commented on #56
@HenkPoley good point! it should be `echo '{ "foo": "bar" }' | jql '."foo"'`... will fix!

[2020-08-28 15:02] yamafaktory commented on #62
Hi @HenkPoley.

Not at all... This was accidentally introduced here https://github.com/yamafaktory/jql/commit/8f4ac685f092aacbe6c9a6f101753bcdcb8244a4

[2020-08-28 15:27] #62 closed

[2020-08-28 15:29] yamafaktory commented on #62
@HenkPoley A new release has been publish (it will also address the performance issue you mentioned - this is auto-generated as a GitHub Action workflow, so I'll merge it afterwards)

[2020-10-22 13:25] blueray453 opened #69 "Format the json output"
I have a return value like

[code]
I want the return value to be like
[code]
The current command I am using is:

curl -H "Accept: application/vnd.github.full+json" -H "Authorization: 7c258a9869f33c1e1e1f74fbb32f07c86cb5a75b" "https://api.github.com/repos/zsh-users/zsh-syntax-highlighting/git/trees/master?recursive=1" | jql '"tree"|"path"'

[2020-10-22 14:36] yamafaktory commented on #69
Hi @blueray453.

This is not possible, `jql` only returns back JSON and what you want is definitely not JSON. The only exception to this is https://github.com/yamafaktory/jql#raw-output.

If you want more than JSON -> JSON, you might use something like `jq`.

Please let me know if this is unclear, otherwise I'll close the issue.

[2020-10-22 14:41] blueray453 commented on #69
Thank you very much.

[2020-10-22 14:41] #69 closed

[2020-11-06 23:12] joshmeads opened #70 "Streaming by line inconsistencies"
Hey @yamafaktory, first of all, thank you! JQL is fantastic

However, I've noticed issues when streaming logs into JQL. I've looked at #26 and tried every option I can think of but I'm getting zero output.

This works as expected:
[code]

Fails when trying to tail via `docker logs -f`
[code]

Right now I'm using JQ to process them, (`docker logs -f container_name 2>&1 | jq '.'`) but I honestly lov

[2020-11-07 15:43] yamafaktory commented on #70
Hi @joshmeads and thanks for the feedback!

At the moment `jql` doesn't support reading a real stream of JSON as input. In #26, what I've done was using `Deserializer::from_str` from `serde_json`, but this is only valid for a file.

However there's a super handy function which should make this possible: `Deserializer::from_reader` (https://docs.serde.rs/serde_json/fn.from_reader.html). I'd have to

[2020-11-07 22:12] #70 closed

[2020-11-07 22:21] yamafaktory commented on #70
@joshmeads I've just released v2.8.0 with a new `--stream` flag that should fix your issue.

Please feel free to reopen this issue if this is not working as expected.

Thanks again for the feedback!

https://github.com/yamafaktory/jql#streaming

[2020-11-08 01:11] joshmeads commented on #70
@yamafaktory you're a legend. Works perfectly. Thank you so much!

[2020-12-09 00:01] yurivict opened #73 "README example doesn't return the same output"
returns
[code]
while README says that it should return
[code]

[2020-12-09 09:36] yamafaktory commented on #73
@yurivict thanks for the feedback! Indeed this command is definitely not returning what the readme mentioned... Probably a mistake (bad copy & paste) I did quite a long time ago...

Basically:

[code]

Returns:

[code]

So using two groups as follow:

[code]

Will return an array combining both groups:

[code]

[2020-12-09 10:18] #73 closed

[2020-12-09 10:21] yamafaktory commented on #73
@yurivict A new version has been released to address the issue https://crates.io/crates/jql/2.8.1. Thanks again for your feedback :+1: !

[2020-12-23 13:06] Th3Whit3Wolf opened #78 "Benchmark and query question"
I edited the `performance.sh` with a benchmark to test jql an jq with a large, approximately 5.9 MB, json file (First 1000 Microsoft repos on github).

[code]

| Command | Mean [ms] | Min [ms] | Max [ms] | Relative |
|:---|---:|---:|---:|---:|
| `cat /home/doc/Code/Bench/ms.json \| jq -r '.[] \| .name, .url, .language, .stargazers_count, .watchers_count'` | 104.0 ± 9.8 | 89.2 | 121.3 | 1.00 |
| `c

[2020-12-24 08:04] yamafaktory commented on #78
Hi @Th3Whit3Wolf and thanks for taking the time to play a bit more with those benchmarks!

I run you script and only kept the Github bench and I'm not getting such high numbers for jql, maybe something went wrong on your machine or hyperfine did something inconsistent?

[code]

[2020-12-24 08:10] yamafaktory commented on #78
If you want, and to be more fair, we can update the performance script according to your changes in this repo (will have to adjust a few things) and see how it behaves in the Github CI.

[2020-12-24 08:58] Th3Whit3Wolf commented on #78
The benchmarks are very consistent on my machine, but this machine has been acting weird the last couple days (nothing I think would affect performance though). I'll try testing on another machine.

It would be cool to see this on your benchmarks! It should be noted however that github's api limits requests from unauthenticated clients to 60 per hour. I don't know how that work's with github actio

[2020-12-24 09:25] yamafaktory commented on #78
Thanks for the feedback.
The file can be stored directly in this repository. I'll try to find some time today to make a new release (the performance is tracked on new releases only).

[2020-12-24 10:02] #78 closed

[2020-12-24 10:04] yamafaktory commented on #78
@Th3Whit3Wolf I've just released a new version. The Ci has been triggered here and the bench file is going to be updated. I'll merge it afterwards. https://github.com/yamafaktory/jql/runs/1604707877?check_suite_focus=true

[2020-12-24 10:06] yamafaktory commented on #78
Of course, feel free to reopen it! Let's see how it's going to behave...

[2020-12-24 12:15] yamafaktory commented on #78
Interestingly, it took almost one and half hour to run the bench... Of course Github CI virtual servers are not monster machines https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources. But this is somehow a crazy amount of time and also confirming what you faced. I don't know yet why this is taking so long

[2020-12-25 17:57] yamafaktory commented on #78
Ok, basically there are two things that are wrong:
1. the jq command doesn't return valid JSON but something simpler, hence the faster timing
2. what takes forever - and that's the same for jq with a similar command - is displaying everything to stdout

Will fix that in another release with some other improvements.

[2020-12-26 07:58] Th3Whit3Wolf commented on #78
Is there a jq equivalent of this command that returns valid json?

[2020-12-26 09:25] yamafaktory commented on #78
Yes for sure, I have it in a feature branch and will soon create a PR. Also figured out an issue with piping to `stdin` which is making jql slow as hell on big inputs... You've actually found a real bug!

[code]

[2020-12-26 10:30] yamafaktory commented on #78
@Th3Whit3Wolf thanks for the time you've spent adding more benchmarks and indirectly making me digging a bit more those timings :bow: ! The bug has been fixed now :tada: . A new version of `jql` has been released and this time proper benchmarks are available https://github.com/yamafaktory/jql/blob/master/PERFORMANCE.md!

[2020-12-26 12:39] Th3Whit3Wolf commented on #78
That's awesome glad I could help!

[2021-02-09 21:54] bb opened #86 "Crash when piping to a pager like less, bat"
jql crashes for me when piping the output to a pager like less or bat and the output is not fully read (because it's longer than the viewport). I'm running version 2.9.3. installed via brew on macos (latest version).

This works as it only provides very few lines of output for my example file:
[code]
However, when outputting a bit more, it crashes when I quit the pager without scrolling to the end

[2021-02-11 19:23] yamafaktory commented on #86
Hi @bb and thanks for reporting the issue.
So to recap, it works with `cat` but not with `less`, right?
Can you provide the failing JSON file?
I'll have a look at it anyway.

[2021-02-11 19:40] bb commented on #86
Yes. Works with any consumer which reads to the end, e.g. cat. Fails with those who only read part of the output, e.g. less (assuming output is longer than screen height. Otherwise less reads all of it and it works).

[2021-02-11 20:26] bb commented on #86
Just noticed I only answered one of the two question. I worked with geojson files from https://osm-boundaries.com/Map. But the actual file does not matter, as long as it's longer than the screen size and bigger than some internal buffer.

The geojson files need OSM login, but there here are two examples of (non-geojson) json data:

This fails:
`curl https://osm-boundaries.com/ajax.php\?cmd\=GetTre

[2021-02-11 21:02] yamafaktory commented on #86
Yeah, the problem is that jql reads the whole piped content in memory and expect it to be valid JSON. `less` - and by extension `bat` (which is using `less` by default https://github.com/sharkdp/bat#automatic-paging) - is paging the output which is thus incomplete JSON.
I might have to look at https://docs.rs/serde_json/1.0.62/serde_json/struct.StreamDeserializer.html.
Will keep you posted.

[2021-02-16 22:39] yamafaktory commented on #86
@bb sorry for the late reply!

I was checking again and indeed `jql` is already using what I mentioned in the previous message. It seems to be a Rust issue in the end https://github.com/rust-lang/rust/issues/46016.

They mentioned multiple workarounds including this one used by `ripgrep` https://github.com/BurntSushi/ripgrep/pull/586/files.

Since it's using `unsafe`, I'd prefer to avoid it... but

[2021-02-16 22:47] bb commented on #86
@yamafaktory thanks for following up. No need to worry or feel sorry. Honestly, I finished the stuff I was using jql for and don't need it now or anytime soon. So it's absolutely not critical nor urgent for me...

My workaround was to press Shift-G in less so it scrolls to the end and thus prevents the crash.

[2021-04-21 14:29] commandline-be opened #89 "csv export"
hey,

Thanks for what seems to be one excellent tool.

What i'm looking for is a tool which can to this and also export to CSV (or SQL)

This because the .json i'm working on is so very json it's very hard to convert but your page actually documents the case using objects and arrays with cross references etc.

[2021-04-22 06:44] yamafaktory commented on #89
Hi @commandline-be and thanks for the feedback.

`jql` aimed at only working on JSON (JSON -> JSON). I'd like to keep it simple with a clear scope.

However, I'm always opened to feedback / suggestions. `jq` does it for example, but in very limited way - see https://stedolan.github.io/jq/manual/:

[2021-07-01 20:43] #89 closed

[2021-09-14 20:58] shouze opened #93 "Cannot process some json as expected"
I can make it work with `jq`, but not with `jql` :sob:, do you thinks it's possible or jql miss some feature that could make this possible?

# Working jq command

[code]

# Input
[code]

# Expected output
[code]

[2021-09-14 21:15] shouze commented on #93
I can run

[code]

On this payload:
[code]

that produces the expected output, but this is not the same input, and in my case very useless as I haven't a deterministic value for the equivalent of this "key1" key.

[2021-09-14 21:26] yamafaktory commented on #93
Hi @shouze , jql is not intended to be a full replacement of jq. The grammar / query syntax is definitely different.

[2021-09-14 21:29] shouze commented on #93
@yamafaktory yes of course, I was just wondering if I could achieve this payload processing with jql.

[2021-09-14 21:48] yamafaktory commented on #93
@shouze I'll check that tomorrow 🙂.

[2021-09-15 15:18] yamafaktory commented on #93
@shouze I've checked and indeed this is definitely not something jql was designed for. I fully understand the intent there - though the original jq command you have posted is honestly something I'd not try to implement as it looks so unintuitive too me 👾.

Basically, we we'll need some ne kind of new feature / grammar definition to be able to select the first key of an object.

I'll think about we

[2021-09-15 15:38] shouze commented on #93
@yamafaktory thanks a lot for checking :pray:.

I was not sure but yes I've read the pest grammar file yesterday and it probably miss a reserved keyword or symbol to design whatever key. Could be `*` or `%` for example? Thus would allow to write `..[]|%` instead of `..[]|"key1"` and would solve the dynamic sibling.
I don't know how complicated it could be to implement this feature after extending

[2021-09-15 15:57] yamafaktory commented on #93
@shouze just to clarify, you want a way to select the `nth` key of an object (eventually multiple keys by their index), correct? Your example with a `*` is not going to work if there are more than one:

[code]

[2021-09-15 16:15] shouze commented on #93
Yes you're right! 💯

[2021-09-20 08:54] yamafaktory commented on #93
@shouze  hey there 🖖.

Just a little update. I'm working on a branch that will soon introduce a new feature. The core idea is to introduce a new syntax for property selection which is going to help with your issue.

Currently property selection is limited to picking some keys of a given object - in any arbitrary order - see https://github.com/yamafaktory/jql#property-selection.

I'll now make it p

[2021-09-20 08:58] shouze commented on #93
@yamafaktory you're on :fire: :smile:

Very nice! Will replace my `jq` use case by `jql` with that new feature :100:

[2021-09-20 12:45] #93 closed

[2021-09-20 12:54] yamafaktory commented on #93
@shouze I've just released a new version https://crates.io/crates/jql/3.0.0 (your own v3 - a.k.a. `shouze` version). I should now work as expected - with the jql syntax of course!

Feel free to open a new issue if something doesn't work as expected 🙇‍♂️.

[2021-09-20 14:25] shouze commented on #93
@yamafaktory thanks a lot :bow: , I comfirm that it works like a charm if I pipe this kind of filter on my (more complex thant my initial issue example) json payload: `|[0]{[0]}|"0"`.

[2021-10-07 09:30] cpkio opened #96 "Windows build always gets 'Empty group' in all cases but `.`"
I've built latest with `cargo install jql`, but cannot get any result but full json printing with `.`. Spent an hour in Powershell & CMD.

[2021-10-07 16:28] yamafaktory commented on #96
Hi @cpkio. `jql` is compiled against Window in the CI but there are specific tests for this OS and I'm a Window user at all... Can you please give an example (JSON file) and the command you're running?

[2021-10-08 11:12] #96 closed, assigned to nobody

[2021-10-08 16:43] cpkio opened #97 "Windows build always gets 'Empty group' in all cases but `.` (once again)"
#96 was closed prematurely. @yamafaktory you closed #96 and didn't notice `echo '{ "primes": [7, 11, 13] }' | jql '"primes"'` has been tested by me with same result. And what about CMD results? Powershell on Linux may behave differently. Please take a closer look.

[2021-10-08 17:47] yamafaktory commented on #97
Maybe try what is suggested in this article https://devblogs.microsoft.com/scripting/weekend-scripter-understanding-quotation-marks-in-powershell/.

[2021-10-08 17:56] yamafaktory commented on #97
Also https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-7.1 and https://stackoverflow.com/questions/7760545/escape-double-quotes-in-parameter for CMD.

[2021-10-08 18:36] #97 closed, assigned to nobody

[2021-10-11 14:00] ktk opened #98 "Option for validation"
First, thanks for the tool, great to see a binary option for working with json that does not require a VM or anything alike!

I noticed there is no option to validate a JSON file without providing a selector. I often have the case that I have to work with files from somewhere else and often they are not even valid JSON so I either manually or in pipelines validate the file first.

Was there a disc

[2021-10-11 14:54] yamafaktory commented on #98
Hi @ktk and thanks for the feedback 🙇!

This sounds like a good use case. I'll have a look at this and will keep you posted!

[2021-10-13 22:00] #98 closed, assigned to nobody

[2021-11-16 11:04] ink-splatters opened #109 "jq incompatibility or bug?"
Hi,

thanks for the tool!

Seems there is a bug or the tool is just not compatible with `jq`, can you please clarify this.

For example, let's take this Bitwarden export (sensitive info stripped off for obvious reason)

[code]

1.

[code]

gives the following output (which I assume is right)

[code]

2.

on the other hand, `jql` spits out the whole json, regardless the selector:
[code]
[code]

[2021-11-16 11:56] yamafaktory commented on #109
Hi @ink-splatters. This is not a bug, `jql` use a different grammar and doesn't aim at being a clone of `jq`. It's basically opinionated in its own way :).

To achieve the same query, this is what you need to do:

[code]

Basically it's something like `select node items` and use a `filter to get the id node` (this filter is applied on each element of the selected array).

If you have any further q

[2021-11-16 11:58] ink-splatters commented on #109
@yamafaktory thanks for the explanation!

[2021-12-16 18:33] jqnatividad opened #113 "Make `clap` an optional dependency when using jql as a library"
I'm currently using jql as a library for which `clap` (and maybe, even `colored_json`) is not required.

Can these dependencies be marked optional that are only included when perhaps a non-default `CLI` feature is used?

[2021-12-17 09:51] yamafaktory commented on #113
Hi @jqnatividad !

You might be the first one doing that. The split between lib/bin was primarily done for testing purposes. I'll take a look at it as it might be feasible as per https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html.

[2021-12-18 12:28] #113 closed

[2021-12-18 12:32] yamafaktory commented on #113
Hi @jqnatividad,

I've released a new version which should include a workaround (https://crates.io/crates/jql/3.0.6). Hope it will help!

[2021-12-18 15:16] jqnatividad commented on #113
Hi @yamafaktory !
Thanks for the quick turn-around!
I can confirm that it works for qsv.

I just changed my cargo.toml accordingly:
`jql = { version = "3.0.6", default-features = false }`

[2022-01-27 08:25] yerke commented on #86
You might want to try the approach similar to https://github.com/crev-dev/cargo-crev/commit/3f3dedf8428a054072492401a086c51c82a08215 (as discussed in https://github.com/crev-dev/cargo-crev/issues/287). No unsafe there.

[2022-01-27 08:37] yamafaktory commented on #86
@yerke I guess this is what I mentioned a while ago here https://github.com/yamafaktory/jql/issues/86#issuecomment-780163462

[2022-01-27 08:39] yamafaktory commented on #86
@yerke nevermind this was just one of the link, I see what you mean (commit).

[2022-01-29 12:59] yamafaktory commented on #86
I'm going to release a new version soon, thanks @yerke!

Looking good now: https://asciinema.org/a/465294.

[2022-01-29 13:37] #86 closed

[2022-01-29 13:41] yamafaktory commented on #86
@bb A new version has been released. Don't hesitate to re-open the issue if the fix doesn't work has expected (works for me locally and in the CI).

[2022-02-01 09:24] bric3 opened #120 "Flattened/Minified json file cannot be parsed"
I have a very big json file that was flattened / minified to a single line, and I would like to explore this document, however `jq` don't work and neither does `jql`.

[code]

That would be nice if JQL could process this document.

[2022-02-01 09:46] yamafaktory commented on #120
Hi @bric3 !

If I got it right, both `jq` and `jql` can't process your file, correct?

If true, would you mind sharing it? Are you sure the file is valid JSON? Depending on how big the file is, maybe you can try something like https://jsonlint.com.

N.B.: the best would be to share this file so that I can check it but I assume that it might be not possible?

[2022-02-01 12:57] bric3 commented on #120
@yamafaktory Hi yes that is the case, also yes I know this file is valid, as it is correctly processed by other tools.

While trying things I have found a smaller document that is parsed with `jq`, but not with `jql`. This file is somehow private. How should I share it with you ?

[2022-02-01 13:53] yamafaktory commented on #120
@bric3 I checked against your file and indeed it fails (the error is swallowed by `jql` which display a dummy one, but that's intended). The issue is that `serde-json` has a recursion limit set by default. it simply crashes with your file. Hopefully, there's a feature in order to disable this behavior and some additional code. I've created a PR and will soon release a new version.

[2022-02-01 13:56] #120 closed

[2022-02-01 14:01] yamafaktory commented on #120
@bric3 the new version has been released 🚀.

Feel free to ping me if something is not working as expected (apart from something that needs a `serde-json` fix of course).

[2022-02-01 16:34] bric3 commented on #120
@yamafaktory Thanks I'll try this !

[2022-02-01 16:51] bric3 commented on #120
So it works well, even on some bigger document !!!
Thank you very much

[2022-02-04 18:05] osidorkin opened #123 "Proposal: pre-compile selectors"
I'm looking for jq like solution to be used as a library in the hot inner loop to crunch massive amount of data.
It would be nice to expose additional functions to pre-compile selectors and re-use them to get parsing out of the inner loop.

[2022-02-04 18:57] yamafaktory commented on #123
@osidorkin the goal of `jql` is stay simple, as stated in the readme. Can you provide a concrete example of what you would like to achieve?

[2022-02-05 06:07] osidorkin-gp commented on #123
Sure. The only public API exposed by the crate is `jql::walker` function which parses selectors on every invocation. I want to use it in the performance critical application in the hot inner loop where every CPU cycle counts. It literally crunches billions of data points per second. I'm looking for an ability to compile selectors once and run `walker` against pre-compiled selectors (Groups).

Than

[2022-02-05 06:10] osidorkin-gp commented on #123
It can be just a few extra exports: opaque `Group` struct, `selectors_parser` function and an alternative to `walker` that takes `&[Groups]` instead of `&str` and doesn't call `selectors_parser` inside.

[2022-02-06 06:03] #123 closed

[2022-02-06 06:06] yamafaktory commented on #123
@osidorkin v3.1.0 has been published to address your issues.

[2022-03-14 02:01] jqnatividad opened #129 "index out of bounds panic in array_walker"
Given this json response from http://api.worldbank.org/v2/country/br?format=json

[code]
I can get incomeLevel by:
[code]
However, when I try to fetch an out-of-bounds value, instead of failing gracefully, jql panics:

[code]

[2022-03-14 17:41] yamafaktory commented on #129
@jqnatividad good catch!

I've created a fix and will make a new release when the CI passes.

[2022-03-20 11:56] jqnatividad opened #132 "Feature request: Make async-std an optional dependency"
Hi @yamafaktory , as you know, I'm using jql as a library and #114 reduced my dependencies.

Looking at the code a bit more, it seems that using jql as a library also doesn't need async-std, which has quite a large dependency tree.

Can you make async-std an optional dependency?

[2022-03-21 08:13] #132 closed

[2022-03-22 18:41] kmaasrud opened #135 "Conditional filters"
A feature to conditionally filter items of an array would be very useful! This would be akin to jq's [`select`](https://stedolan.github.io/jq/manual/#select(boolean_expression)) function.

My feeling is that the jql syntax is stronger than jq in it's simplicity, and thus should not adopt the "function" type signature (`select(...)`). I propose the following:

Given the below JSON

[code]

one coul

[2022-03-22 20:48] yamafaktory commented on #135
Hi @kmaasrud!

Thanks for the feedback and for the kind words! Happy to hear that this crate helped you.

Regarding the proposal, I think that you've already highlighted one of the core aspect of `jql`, i.e. keeping its grammar as simple as possible. Indeed, I try to avoid adding selectors that would tend to make it more like some kind of pseudo-programming language (that's actually one of the thi

[2022-03-22 21:22] kmaasrud commented on #135
Thanks for the quick response! I would guess you can come up with a more natural solution, so that sounds great :smile:

I would be happy to help, if I can contribute in any way :+1:

[2022-03-29 11:37] jameschenjav opened #137 "Sort keys of objects"
The sorting flag from `jq` is very helpful when dealing with JSON APIs.
[code]

There is an example:
[code]

Can we have this feature as well? Also, as a new rustacean I really appreciate your work. I had some issue to link `lib-jq` on my Mac, so this crate will save me a lot of time.

[2022-03-29 21:04] yamafaktory commented on #137
Hi @jameschenjav and thanks for the positive feedback!

Basically `jql` keeps the insertion order because the `preserve_order` feature flag was introduced to avoid the default behavior of `serde_json` (https://github.com/yamafaktory/jql/pull/23, https://github.com/yamafaktory/jql/blob/main/Cargo.toml#L41).

Nobody complained about it so far... and I was the one introducing this (no issue).

So bas

[2022-03-30 02:32] jameschenjav commented on #137
Hi @yamafaktory

Thanks for your response.

It makes sense to keep original order by default. As it will be a breaking change, if someone had already built test-cases without proper comparison, the tests will break.

So imo better to have a new flag.

[2022-03-31 15:13] patrickelectric opened #140 "Add binaries to releases"
Is it possible to provide binaries to releases ?

[2022-03-31 18:24] yamafaktory commented on #140
Hi @patrickelectric,

Which targets do you have in mind?

We can eventually give https://github.com/rust-build/rust-build.action a try.

[2022-03-31 18:26] yamafaktory commented on #135
Just to follow up, I've started to look at some grammar but I'm quite busy at the moment. Still keeping that on my radar.

[2022-03-31 19:02] patrickelectric commented on #140
Hey @yamafaktory, I believe that x86-32/64 and armv7/arm64 would be great!

[2022-04-01 08:37] kmaasrud commented on #135
Thanks a lot for the followup! It's understandable that things are busy, no need to rush anything :smile:

What grammars have you been trying out?

[2022-04-01 12:03] yamafaktory commented on #135
I think I'll probably go for something like `.|={"key":"value", "some-other-key":"some-other-value"}`

[2022-04-02 07:41] kmaasrud commented on #135
That's neat! I agree with the combination of `|` and `=` to keep the notion that you are "filtering" something.

[2022-04-05 07:14] yamafaktory commented on #140
Closing since @kmaasrud 's latest PR has been merged and should have addressed this issue (see https://github.com/yamafaktory/jql/releases/tag/v3.2.3).

[2022-04-05 07:14] #140 closed

[2022-04-05 12:02] patrickelectric commented on #140
THATS AWESOME!
![image](https://media2.giphy.com/media/Ue0jev5l4BKgM/200w.webp?cid=ecf05e47r3w7vk0i3ta59w5lyud4jmrcld5rfpzi37iezjzc&rid=200w.webp&ct=g)
Thanks @yamafaktory and @kmaasrud

[2022-04-08 10:30] gerrywd opened #151 "Syntax: Is it necessary to have quotes and dots as delimiters?"
Looking at one of the first examples:
`jql '"primes".[0]' example.json`

My first thought was... could it have just been:
`jql 'primes[0]' example.json`

(no quotes and no period separator)

I can understand the need for the quotes around a key that contains a space or special character, but in most cases names will not have such things.

I figure you have some reasoning behind this, so I just wan

[2022-04-08 11:34] yamafaktory commented on #151
Hi @gerrywd,

you can both use `jql '"primes".[0]' example.json` and `jql '"primes"[0]' example.json`.

The reasoning behind the double quotes around keys it to always make it JSON compliant (you mentioned it, those are edge cases).

See https://github.com/yamafaktory/jql/issues/56.

[2022-04-08 11:34] #151 closed

[2022-04-08 14:14] gerrywd commented on #151
@yamafaktory Thank you for the explanation. Personally **from a user standpoint** it would be more readable if I didn't have to type them unless I hit one of those rare JSON files with strange keys. I'm not sure I follow the JSON compliant motive as `"primes".[0]` is not valid JSON, but perhaps you just meant the key portion being a valid JSON key. However I can understand the desire to not add mo

[2022-04-09 14:03] yamafaktory commented on #135
Hey @kmaasrud !

A new version has been released with your feature request https://github.com/yamafaktory/jql#lens.

Thanks for the positive and constructive proposal 🚀!

[2022-04-09 18:06] kmaasrud commented on #135
This is great @yamafaktory! Thanks for the quick feature push 🚀

If I understand the README example correctly, lenses seem to work similarly to regular filters (`"nested"|{"alpha","delta"}` would produce the same as `"nested"|={"alpha","delta"}` wouldn't it?) But they also have the added function that you can filter on values, right? Like the example you made in the comment above: `.|={"key":"valu

[2022-04-09 18:24] yamafaktory commented on #135
Yes, lenses (name inspired by category theory but... not the same - this was to avoid repeating `filter`) are special filters.

If you do something like `"nested"|{"alpha","delta"}"` you're probably not going to match anything since filters only works on arrays.

My previous example was plain wrong since we just want to match keys.

To recap and to get back to your initial example, this is what yo

[2022-04-09 19:00] kmaasrud commented on #135
I think we might've misunderstood each other in that case. I would very much like to filter on key-value pairs, not just keys. Say I have an array of objects that have the fields `"firstname"` and `"lastname"`. A use-case could be to make jql return all objects that have `"lastename": "Johnson"`.

Is that possible with the current grammar?

[2022-04-09 19:17] yamafaktory commented on #135
Indeed, this is not possible, it will only match the keys not the values.

The reasoning was that if you want to match a value, a JSON value can be anything. This is clearly not possible or we would have to limit that to primitives that are not arrays or objects (way too complicated otherwise...and maybe useless too).

While I understand the need for picking array elements by keys, I might have mi

[2022-04-09 19:34] kmaasrud commented on #135
That sounds sensible, I must admit that I hadn't thought of that limitation - which ofc now is totally obvious 😅 Restricting it to primitives however, would be immensely useful!

I'm sorry if my request was a bit diffuse at the start. Nonetheless, lenses are a great addition to jql that I'm very happy you have added 🎉

[2022-04-11 20:47] #135 closed

[2022-04-11 20:53] yamafaktory commented on #135
@kmaasrud this time the latest release should finally match your initial request https://github.com/yamafaktory/jql#lens. I've released it as a major this time since it implies some internal changes which could potentially impact the users of the library.

[2022-04-11 21:01] yamafaktory commented on #137
A follow-up on this topic.

The current issue is that, as already mentioned, `serde_json` uses a flag to either internally process the data as a `BTreeMap` or an `IndexMap` (https://github.com/serde-rs/json/blob/master/src/map.rs#L30-L33). I haven't seen so far a simple way to bypass the flag limitation - basically being to switch from one to another data-structure. Also, to implement a custom sor

[2022-04-12 08:33] kmaasrud opened #156 "Cannot select or filter on lens-produced arrays"
When filtering with regular filters, I can run another filter or do property selections on the resulting array in order to get child elements. This does not seem to work with the new lens feature.

## Example

Take the following example JSON file:

[code]

Filters work as expected:

[code]
[code]
[code]

But I'm unable to do the same with lenses:

[code]
[code]
[code]
[code]

This does not seem li

[2022-04-12 09:09] yamafaktory commented on #156
Thanks for the report @kmaasrud .

I'll try to have a look at it, maybe tonight.

[2022-04-12 09:12] kmaasrud commented on #156
Insanely quick response! Thanks 🚀

[2022-04-14 06:35] kmaasrud commented on #137
I've been investigating this a bit myself, and as you say, there is no way to conditionally toggle a crate feature, since features get applied at build-time.

However, I think Cargo can handle compiling two different versions of serde_json - one with the `preserve_order` feature and one without (and then simply naming them differently.) I can try this out in a PR if you want, and then we can test

[2022-04-14 07:32] yamafaktory commented on #137
@kmaasrud I thought about that too but that would mean two different versions since this is a binary (this can works fine for a the library part of course). Folks that will install it will still get the default one.

[2022-04-14 07:48] kmaasrud commented on #137
@yamafaktory, yes it seems like my idea is not possible.

The thought was to have two versions of serde_json compiled into the binary - one with the `preserve_order` feature and one without. That would allow us to do e.g. `serde_json::from_str::<Value>(json_content)` and `serde_json_ordered::from_str::<Value>(json_content)` based on a condition, where `serde_json` and `serde_json_ordered` are the

[2022-04-14 08:00] yamafaktory commented on #137
That's an option indeed. My main concern is that it feels a bit awkward and might be even more weird regarding the packages distributed on different OS (not maintained here).

[2022-04-14 08:01] yamafaktory commented on #137
Let's maybe keep this open for a bit longer and see if some trick might help fixing that.

[2022-04-14 10:41] kmaasrud commented on #137
Sounds like a good idea :+1:

[2022-04-14 13:15] #156 closed

[2022-04-14 13:17] yamafaktory commented on #156
@kmaasrud this has been fixed in the latest bugfix release.

[2022-04-16 12:35] kmaasrud commented on #156
Works great! Thanks again :smile:

[2022-08-04 09:49] LLFourn opened #170 "lens conjunction doesn't work"
I would expect the following to output only the second element:

[code]
but it outputs
[code]

How do you do a conjunction on the lens conditions?

[2022-08-09 11:37] yamafaktory commented on #170
This is not a bug, lenses - by design - were not made for that purpose. It's more about filtering the data so e.g. given the following `test.json` file:

[code]

You can pick two elements that are holding some key/value pairs:

[code]
[code]
Moving this to a discussion since changing this would break the actual grammar and the goal was to keep the tool as simple as possible.

[2022-08-15 12:19] yamafaktory opened #174 "lens conjunction doesn't work"
### Discussed in https://github.com/yamafaktory/jql/discussions/171

<div type='discussions-op-text'>

<sup>Originally posted by **LLFourn** August  4, 2022</sup>
I would expect the following to output only the second element:

[code]
but it outputs
[code]

How do you do a conjunction on the lens conditions?</div>

[2022-08-15 12:26] #174 closed

[2022-10-21 16:58] LLouice opened #188 "Windows release artifact always fails to upload"
the Windows release artifact of github action always fails to upload.

[release workflow log](https://github.com/yamafaktory/jql/actions/runs/3255090557/jobs/5344040326)
[code]

[2022-10-21 17:28] yamafaktory commented on #188
Thanks for the report. This is actually pretty bad that this action itself returns successful while failing.

[2022-11-02 20:19] yamafaktory commented on #188
@LLouice this should be fixed now.

[2022-11-02 20:19] #188 closed